# 자료형
### Int

In [33]:
num = 2
print(num)
print(num + 1) 
print(num * 10) 
print(num * int("10"))

2
3
20
20

### String

In [29]:
name = "서장원"
print(name)
print(name + "님")
print(name + str(1))
print(name + 1)

서장원
서장원님
서장원1

TypeError: can only concatenate str (not "int") to str

### List

In [14]:
age_list = [20, 21, 23, 34]
print(age_list)

# 반복문
for age in age_list:
    print(age)

[20, 21, 23, 34]
20
21
23
34

### Dict

In [18]:
people = {
    'name' : '서장원',
    'age' : 20
}
print(people)
print(people['name'])
print(people['age'])

{'name': '서장원', 'age': 20}
서장원
20

# 조건문 & 반복문
### 조건문

In [22]:
age = 18
if age > 19:
    print("성인입니다.")
else:
    print("미성년자입니다.")

미성년자입니다.

### 반복문

In [25]:
for i in range(5):
    print("안녕")

안녕
안녕
안녕
안녕
안녕

In [27]:
age_list = [20, 21, 23, 34]
for idx,age in enumerate(age_list):
    print(str(idx)+"번째 사람의 나이는 "+str(age)+"살 입니다.")

0번째 사람의 나이는 20살 입니다.
1번째 사람의 나이는 21살 입니다.
2번째 사람의 나이는 23살 입니다.
3번째 사람의 나이는 34살 입니다.

### 심화

In [41]:
people_list = [
    {
    'name' : '서장원',
    'gender' :'남자',
    'age' : 25
    },
    {
    'name' : '홍길동',
    'gender' : '남자',
    'age' : 18 
    },
    {
    'name' : '홍길순',
    'gender' : '여자',
    'age' : 20 
    },
]
for people in people_list:
    if people['gender'] == '남자' and people['age'] > 19:
        print(people['name']+"님은 군필입니다.")
    elif people['gender'] == '남자' and people['age'] <= 19:
        print(people['name']+"님은 미필입니다.")
    else:
        print(people['name']+"님은 병역면제입니다.")

서장원님은 군필입니다.
홍길동님은 미필입니다.
홍길순님은 병역면제입니다.

# 함수

In [51]:
def add(x, y):
    return x + y

num_1 = 10
num_2 = 5
sum_val = add(num_1, num_2)
print(sum_val)

15

In [52]:
def army(people_list):
    result = []
    for people in people_list:
        if people['gender'] == '남자' and people['age'] > 19:
            result.append(people['name']+"님은 군필입니다.")
        elif people['gender'] == '남자' and people['age'] <= 19:
            result.append(people['name']+"님은 미필입니다.")
        else:
            result.append(people['name']+"님은 병역면제입니다.")
    return result

result = army(people_list)
print(result)

['서장원님은 군필입니다.', '홍길동님은 미필입니다.', '홍길순님은 병역면제입니다.']